<div id="schedule-page" class="content is-hidden">
    <div class="level mb-5">
        <div class="level-left">
            <h1 class="title is-3">Schedule</h1>
        </div>
        <div class="level-right">
            <div class="buttons has-addons">
                <button class="button" onclick="previousWeek()">
                    <span class="icon">
                        <i class="fas fa-chevron-left"></i>
                    </span>
                    <span>Previous</span>
                </button>
                <button class="button" onclick="todayView()">Today</button>
                <button class="button" onclick="nextWeek()">
                    <span>Next</span>
                    <span class="icon">
                        <i class="fas fa-chevron-right"></i>
                    </span>
                </button>
            </div>
        </div>
    </div>
    
    <div id="calendar-container" class="box">
        <!-- Calendar will be populated by JavaScript -->
    </div>
</div>
