<div id="technicians-page" class="content is-hidden">
    <div class="level mb-5">
        <div class="level-left">
            <h1 class="title is-3">Technician Management</h1>
        </div>
        <div class="level-right">
            <div class="buttons">
                <button class="button is-primary" onclick="openModal('newTechnicianModal')">
                    <span class="icon">
                        <i class="fas fa-plus"></i>
                    </span>
                    <span>New Technician</span>
                </button>
            </div>
        </div>
    </div>

    <div class="columns is-multiline" id="technicians-grid">
        <!-- Technicians will be populated by JavaScript -->
    </div>
</div>
